/* Custom styling for the project boxes */
.project-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 30px; /* Adjust margin as needed */
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(45deg, #f3f3f3, #dddddd);
    z-index: -1;
    transition: all 0.3s ease;
}

.project-box:hover::before {
    top: -6px;
    left: -6px;
}

.project-box .journal-info {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-box:hover .journal-info {
    transform: scale(1.05);
}

.project-box .journal-info img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-box:hover .journal-info img {
    transform: scale(1.1);
}

.project-box .journal-txt {
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease;
}

.project-box:hover .journal-txt {
    background-color: #f0f0f0;
}
